/*.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  margin: 100px auto;
  border-radius: 2px;
  overflow: hidden;
  font-family: roboto;
}
.loginmodal-container h6 {
  text-align: center;
  font-size: 1.8em;
  font-style: normal;
  font-family: roboto;
}
#countryString{
  display:inline;
  text-align: center;
  margin-left: 30%;
}*/
md-select{
  width:40%;
  margin-left:35%;
  margin-top:10%;
}
input#name {
  border: 0;
  outline: 0;
  background: none;
  border-bottom: 1px solid black;
  text-align: center;
  box-decoration-break:0px;
  border-radius: 0px;
}
form {
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 40%;
}
button {
  margin-left:20%;
  /*border-radius: 0px;*/
}

@media only screen and (max-width: 780px) {
  button {
    margin-left:-15%;
    /*border-radius: 0px;*/
  }
  .allBody {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.btn4{
width: 196px;
height: 55px;
/*opacity: 1;*/
background-color: #1ABAD2;
}
