<div class="container-fluid">
<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="app/images/pinup.png">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><h3 style="color:#00FFFF">PinUp</h3></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf='isenable==true'><a routerLink="/register" style="color:#00FFFF"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li *ngIf='isenable==true'><a routerLink="/logIn" style="color:#00FFFF"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li  *ngIf='isenable==false'><a (click)="onLogOut()" style="color:#00FFFF" class="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
  <div id="custom-search-input">
    <div class="input-group col-md-12">
      <input type="text" class="  search-query form-control" placeholder="Search" />
      <span class="input-group-btn">
      <button class="btn btn-danger" type="button">
      <span class=" glyphicon glyphicon-search"></span>
      </button>
      </span>
    </div>
</div>
</div>
<div class="container-fluid1">
  <span class="recent">Recent</span>
  <hr>
  <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12" *ngFor="let data of pinupData">
    <div class="check hideOverflow">
      <div class="row">
        <div class="col-sm-4  col-xs-4">
          <img src="app/images/identicon.png" class="github-prof-image" alt="" />
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="Angular2" data-toggle="tooltip" title={{data.title}}>{{data.title }}</div>
          <span class="Desc">New framework has major changes</span><br>
          <!-- <span class="date">{{info.createdAt | date}}</span><br> -->
          <a class="web"  data-toggle="tooltip" title={{data.pinupUrl}} (click)="linkData(data)">{{data.pinupUrl}}</a>
          <br>
        </div>
      </div>
      <div class="description row" data-toggle="tooltip" title={{data.description}}>{{data.description}}
      </div>
      <div class="demo row">
        <div class="firstchild  col-sm-3 col-xs-3">
         <span class="glyphicon glyphicon-thumbs-up" (click)="incrementLike(data)"></span>
            <p class="likes">{{data.like}}Likes</p>
        </div>
        <div class="col-sm-3 col-xs-3">
           <span class="glyphicon glyphicon-thumbs-down" (click)="incrementUnLike(data)"></span>
            <p class="unlike">{{data.unlike}}Unlike</p>
        </div>
        <div class="col-sm-3 col-xs-3">
          <div class="views glyphicon glyphicon-eye-open" id="views">
            <p class="eye">{{data.views}}Views</p>
          </div>
        </div>
      </div>
    </div>
</div>
<br/>
</div>
